@import "tailwindcss";

@theme {
  --color-neon-pink: #FF007A;
  --color-neon-cyan: #00E5FF;
  --color-neon-yellow: #FFD600;
  --color-neon-dark-bg: #0C0922;

  /* ぼかし */
  --shadow-neon-pink: 0 0 12px #990049, 0 0 4px #990049;
  --shadow-neon-cyan: 0 0 12px #008999, 0 0 4px #008999;
  --shadow-neon-yellow: 0 0 12px #998000, 0 0 4px #998000;

}